<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Developer</Data></Cell>
        <Cell><Data ss:Type="String">Date</Data></Cell>
        <Cell><Data ss:Type="String">Morning</Data></Cell>
        <Cell><Data ss:Type="String">Evening</Data></Cell>
        <Cell><Data ss:Type="String">Login Count</Data></Cell>
      </Row>
      <% @reportss.each do |report| %>
      <Row>
        <Cell><Data ss:Type="String"><%= report.user.name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= report.date %></Data></Cell>
        <Cell><Data ss:Type="String"><%= report.morning %></Data></Cell>
        <Cell><Data ss:Type="String"><%= report.evening %></Data></Cell>
        <Cell><Data ss:Type="String"><%= report.remark %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>