<div class="container-fluid mt-80">
	<div class="row">
		<div class="col-md-12">
			<h4><%= link_to "Add a New Report", new_report_path, :class => "cs-btn new-report" %></h4>
			  <div>
			  	<div class="cs-rp-row cs-tb-header">
			  		<div class="cs-rp-col-date cs-rp-col-date-header">Date</div>
			  		<div class="cs-rp-col">Morning</div>
			  		<div class="cs-rp-col">Evening</div>
			  		<div class="cs-rp-col">Remark</div>
			  		<div class="cs-rp-col-action cs-rp-col-action-header"></div>
			  	</div>
			  	<% @reports.each do |rp| %>
			  	<div class="cs-rp-row cs-tb-body">
			  		<div class="cs-rp-col-date"><%= rp.date %></div>
			  		<div class="cs-rp-col"><%= rp.morning %></div>
			  		<div class="cs-rp-col"><%= rp.evening %></div>
			  		<div class="cs-rp-col"><%= rp.remark %></div>
			  		<div class="cs-rp-col-action">
			  			<%= link_to "Show", report_path(rp.id), :class => "cs-btn" %> | <%= link_to "Edit", edit_report_path(rp.id), :class => "cs-btn" %> | <%= link_to "Delete", report_path(rp.id), method: :delete, data: { confirm: 'Are you want to delete?' }, :class => "cs-btn cs-btn-danger" %>
			  		</div>
			  	</div>
			  	<% end %>
			  </div>
		</div>
	</div>
</div>

