<div class="report-body">
	<div class="container-fluid mt-80 rp-bg">
		<div class="row">
			<div class="col-md-12">
				
				<!-- table -->
				<% if is_admin? %>
					<h4><%= link_to "Add a New User", new_user_path, :class => "cs-btn new-report btn btn-success" %> 
						| <%= link_to "View All Users", users_path, :class => "cs-btn new-report btn btn-info" %>
						| <%= link_to "View All Reports", reports_path, :class => "cs-btn new-report btn btn-info" %></h4>
					<div>
				<table class="table cs-tb-body">
				    <thead>
				      <tr>
				        <th>Developer</th>
				        <th>Date</th>
				        <th>Morning</th>
				        <th>Evening</th>
				        <th>Remark</th>
				        <th>Action</th>
				      </tr>
				    </thead>
				    <tbody>
				    	<% @reports.each do |rp| %>
					      <tr>
					        <td><span class="picture"><%= image_tag rp.user.picture.url if rp.user.picture? %></span><%= rp.user.name %></td>
					        <td><%= rp.date %></td>
					        <td><%= rp.morning %></td>
					        <td><%= rp.evening %></td>
					        <td><%= rp.remark %></td>
					        <td>
					        	
					  			<%= link_to "Show", report_path(rp.id), :class => "cs-btn" %> 
					  			<%= link_to "Edit", edit_report_path(rp.id), :class => "cs-btn" %> | <%= link_to "Delete", report_path(rp.id), method: :delete, data: { confirm: 'Are you want to delete?' }, :class => "cs-btn cs-btn-danger" %>
					        </td>
					      </tr>
				      <% end %>
				    </tbody>
				  </table>
				  <% else %>

				  		<h4><%= link_to "Add a New Report", new_report_path, :class => "cs-btn new-report btn btn-success" %>
						| <%= link_to "View All Users", users_path, :class => "cs-btn new-report btn btn-info" %>
						| <%= link_to "View All Reports", reports_path, :class => "cs-btn new-report btn btn-info" %>
					</h4>
				<table class="table cs-tb-body">
				    <thead>
				      <tr>
				        <th>Developer</th>
				        <th>Date</th>
				        <th>Morning</th>
				        <th>Evening</th>
				        <th>Remark</th>
				        <th>Action</th>
				      </tr>
				    </thead>
				    <tbody>
				    	<% @reports.each do |rp| %>
					      <tr>
					        <td><span class="picture"><%= image_tag rp.user.picture.url if rp.user.picture? %></span><%= rp.user.name %></td>
					        <td><%= rp.date %></td>
					        <td><%= rp.morning %></td>
					        <td><%= rp.evening %></td>
					        <td><%= rp.remark %></td>
					        <td>
					        	
					  			<%= link_to "Show", report_path(rp.id), :class => "cs-btn" %> 
					  			<% if rp.user_id==current_user.id %> |
					  			<%= link_to "Edit", edit_report_path(rp.id), :class => "cs-btn" %> | <%= link_to "Delete", report_path(rp.id), method: :delete, data: { confirm: 'Are you want to delete?' }, :class => "cs-btn cs-btn-danger" %>
					  			<% end %>
					        </td>
					      </tr>
				      <% end %>
				    </tbody>
				  </table>

				  <% end %>
				<!-- end table -->
				  
				  <%= link_to "EXPORT",reports_path(format: "xls"), :class => "btn btn-success cs-export"  %>
			</div>
		</div>
	</div>

</div>
<div class="cs-pagination mt-5 d-flex justify-content-center">
	<%== pagy_bootstrap_nav(@pagy).html_safe %>
</div>