<div class="container-fluid mt-80">
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6">
			<table class="table">
			      <tr>
			        <th>Developer</th>
			        <td><%= current_user.name %></td>
			      </tr>
			      <tr>
			        <th>Morning</th>
			        <td><%= @report.morning %></td>
			      </tr>
			      <tr>
			        <th>Evening</th>
			        <td><%= @report.evening %></td>
			      </tr>
			      <tr>
			        <th>Date</th>
			        <td><%= @report.date %></td>
			      </tr>
			      <tr>
			        <th>Remark</th>
			        <td><%= @report.remark %></td>
			      </tr>
			      <tr>
			      	<% if @report.user_id==current_user.id %> 
			        <td><%= link_to "Edit", edit_report_path %></td>
			        <% end %>
			        <td><%= link_to "Back", reports_path %></td>
			      </tr>
			  </table>
		</div>
		<div class="col-md-3"></div>
	</div>
</div>
